# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: PxSite
subtitle: ''
description: ''
keywords:
author: Peng Xiang
language: en
timezone: ''

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
#url: https://pxi.gitee.io/ # http://yoursite.com https://pxim.github.io
url: https://pxi.gitee.io/
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## Use post's date for updated date unless set in front-matter
use_date_for_updated: false

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
#theme: landscape
theme: ayer

# Deployment
## Docs: https://hexo.io/docs/deployment.html
#deploy:
#  type: 'gh-pages'

#deploy:
#  type: git
#  repo: https://github.com/pxim/px.site
#  # example, https://github.com/hexojs/hexojs.github.io
#  branch: gh-pages

#deploy:
#  type: git
#  repo: https://pxim:Px900210Aa@github.com/pxim/pxim.github.io.git
#  branch: gh-pages
##  message:  now('YYYY-MM-DD HH:mm:ss')

#deploy:
#  type: git
#  repo:
#    github: git@github.com:pxim/pxim.github.io.git
##    coding: git@git.coding.net:AshinWang/AshinWang.coding.me.git
#    gitee: git@gitee.com:pxi/pxi.git
#  branch: gh-pages
##  message:  now('YYYY-MM-DD HH:mm:ss')

deploy:
  #这里记得替换掉链接中的用户名和仓库名
#  - type: git
#    repo: git@github.com:pxim/pxim.github.io.git
#    branch: master
  - type: git
    repo: git@gitee.com:pxi/pxi.git
    branch: gh-pages

  - type: baidu_url_submitter

# Hexo-generator-search
search:
  path: search.xml
  field: post
  format: html

feed:
  type: atom
  path: atom.xml
  limit: 20
  hub:
  content:
  content_limit: 140
  content_limit_delim: ' '
  order_by: -date

baidu_url_submit:
  count: 100 # 提交最新的一个链接
  host: https://pxi.gitee.io/ # www.cherryblog.site  # 在百度站长平台中注册的域名
  token: oAMZ2AFUMF3clmMx # 请注意这是您的秘钥， 所以请不要把博客源代码发布在公众仓库里!
  path: baidu_urls.txt # 文本文档的地址， 新链接会保存在此文本文档里


